/* bootstrap changes */

.jumbotron{
  background-color: transparent;
  color: #000;
}
.navbar {
    border-radius: 0px;
    border: 0px;
}
.navbar-inverse {
  background-color: #2F84EA;
  border-color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #4ff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;/*#9d9d9d;*/
  }
}
.navbar-inverse {
  background-image: url("../../view/resources/bg.png");
  opacity: 0.9;
  filter: alpha(opacity=40);
  background-repeat: repeat;
  border-radius: 0px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #4ff;
  background-color: transparent;
}
.table{
  background-color: #eee;
  opacity: .8;
  color: #000;
  margin-bottom: 50px;
}

.table-hover > tbody > tr:hover {
  background-color: #2F84EA;/*#f5f5f5;*/
  color: #fff;
}
.media > .pull-left{
  margin-left: 10px;
}
.pull-left{
  float: left;
  margin-left: 20px;
}
a{
  color: #000;
}
a:hover{
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff;
}

.table-nonfluid {
   width: auto !important;
}
.table td {
   text-align: center;   
}
.table th {
   text-align: center;   
}

/* bootstrap ends */
.mid-section{
  position: relative;
	min-height: 400px;
	background-color: #eee transparent;
  padding: 55px;
}

.author-table{
  text-align: center;
}

.center {
  float: none;
  margin-left: auto; 
  margin-right: auto; 
}

body{
  /*background-image: url("../../view/resources/bg.png");*/
}

.footer-fixed-bottom{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    background-color: #2F84EA;
    color: #fff;
    background-image: url("../resources/bg.png");
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-top: -20px;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
